*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #303841;
    --tlo: #0b253c;
    --drugi: #3A4750;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --niebieski: #0693e3;
    --alfa: #0692e300;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--tlo);
    color: var(--bialy);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    height: 75vh;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    color: var(--czarny);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--niebieski);
    transition: all 350ms;
}
input:invalid{
    border: 3px solid var(--czerwony);
    box-shadow: 0px 0px 15px var(--czerwony);
    transition: all 350ms;
}
input[type=submit]{
    cursor:pointer;
    color: var(--bialy);
    background-color: var(--alfa);
    border: 1px solid var(--alfa);
    box-shadow: 0px 0px 20px var(--niebieski);
    transition: all 350ms;
}
input[type=submit]:hover{
    cursor:pointer;
    color: var(--czarny);
    background-color: var(--niebieski);
    border: 1px solid var(--niebieski);
    box-shadow: 0px 0px 20px var(--niebieski);
    transition: all 350ms;
}