*{
    font-family: Helvetica;
}
header, footer{
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
}
.dane{
    background-color: #ffffce;
    color: Olive;
    padding: 10px 150px;
}
.lewy, .prawy{
    background-color: #e6ee9c;
    width: 25%;
    height: 450px;
    text-align: center;
    float: left;
}
.srodkowy{
    background-color: #ffffce;
    width: 50%;
    height: 450px;
    float: left;
}
table{
    border: 1px solid Olive;
    margin: auto;
    width: 70%;
}
h2{
    text-align: center;
}
h2::first-letter{
    font-size: 150%;
    color: olive;
}
img{
    height: 100px;
    padding: 7px;
}
img:hover{
    background-color: #B3BC6D;
}
