*{
    font-family: Garamond;
    text-align: center;
}

body{
    background-color: lavender;
}

.baner, footer{
    background-color: #AF8EB5;
    color: white;
    padding: 10px;
}

.lewy, .srodkowy{
    background-color: #E1BEE7;
    width: 30%;
    height: 500px;
    padding-top: 40px;
    margin: 15px;
    box-shadow: 10px 10px 10px dimgray;
}

a{
    color: indigo;
    font-size: 150%;
    padding: 10px;
    font-weight: bold;
}

a:hover{
    background-color: indigo;
    color: white;
}

img, table{
    border: 1px solid;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;


}