*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #f9b17a;
    --tlo: #2d3250;
    --drugi: #424769;
    --trzeci: #578f9d;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --alfa: #0692e300;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
main{
    margin: 50px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    text-decoration: none;
    padding: 5px;
    border: none;
    background-color: var(--glowny);
    color: var(--czarny);
    border-radius: 2px;
}
td{
    margin: 3px;
}
table{
    width: 40%;
    height: 100%;
}
th{
    border-bottom:2px solid var(--drugi) ;
    padding-bottom: 10px;
}
th ,tr, td{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input{
    border: 2px solid var(--glowny);
    border-radius: 2px;
    padding: 6px;
    color: var(--bialy);
    outline: none;
    background-color: var(--alfa);
    margin: 10px;
}
input[type=submit]{
    border: 2px solid var(--glowny);
    border-radius: 2px;
    padding: 6px;
    color: var(--czarny);
    outline: none;
    background-color: var(--glowny);
}
form{
    padding: 20px;
    width: 30%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: var(--drugi);
    border-radius: 20px;
    box-shadow: 20px 20px 55px var(--czarny);
}