*{
    margin: 0;
    padding: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #303841;
    --tlo: #0b253c;
    --drugi: #3A4750;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --niebieski: #0693e3;
    --alfa: #0692e300;
    --zolty: #ffb703;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
main{
    margin: 50px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
input{
    width: 100%;
    color: var(--bialy);
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--niebieski);
    border-radius: 5px;
    background-color: var(--alfa);
    transition: all 300ms;
    outline: none;
    width: 50%;
}
input:focus{
    border: 1px solid var(--niebieski);
    background-color: var(--alfa);
    transition: all 300ms;
}
input:invalid{
    border: 1px solid var(--czerwony);
    background-color: var(--alfa);
    transition: all 300ms;
}
input:valid{
    color: var(--bialy);
    border: 1px solid var(--zielony);
    background-color: var(--alfa);
    transition: all 300ms;
}
button, input[type="submit"]{
    color: var(--bialy);
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--zielony);
    border-radius: 5px;
    background-color: var(--alfa);
    transition: all 300ms;
}
button:hover, input[type="submit"]:hover{
    color: var(--bialy);
    border: 1px solid var(--zielony);
    background-color: var(--zielony);
    transition: all 300ms;
    box-shadow: 0px 0px 15px var(--zielony);
}
table,td, tr{
    border: 1px solid var(--niebieski);
    border-collapse: collapse;
}
tr{
    width: 150px;
}
th{
    font-weight: 600;
    font-size: 110%;
    border-top: 1px solid var(--alfa);
    border-left: 1px solid var(--alfa);
    border-right: 1px solid var(--alfa);
    border-bottom: 3px solid var(--niebieski);
    padding: 5px  0px;
}
td{
    border-left: 1px solid var(--alfa);
    border-right: 1px solid var(--alfa);
    padding: 5px 2px;
}
tbody, table{
    width: 100%;
    height: 100%;
}
td,th{
    text-align: left;
}
section{
    width: 60%;
    height: 100%;
}
form{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.error{
    color: var(--czerwony);
}
.succes{
    color: var(--zielony);
}
.usun{
    color: var(--bialy);
    padding: 2px 5px;
    text-decoration: none;
    border: 1px solid var(--czerwony);
    border-radius: 5px;
    background-color: var(--czerwony);
    transition: all 300ms;
}