*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #303841;
    --tlo: #0b253c;
    --drugi: #3A4750;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --niebieski: #0693e3;
    --alfa: #0692e300;
    --zolty: #ffb703;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    outline: none;
}
body{
    height: 150vh;
    width: 100vw;
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
main{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    color: var(--czarny);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}
.przyciski, .dsds{
    margin: 20px;
    z-index: 8888;
}
.box{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    background-color: var(--zielony);
}
#stop{
    background-color: var(--czerwony);
    color: var(--bialy);
}
#obrazek{
    position: relative;
}
input[type=button]{
    text-align: center;
    width: 100px;
    margin: 5px;
}