*{
    margin: 0;
    --blad: #d90429;
    --glowny: #0d1b2a;
    --drugi: #778da9;
    --bialy: #edf2f4;
    --czarny: #000;
    --trzeci: #ffb703;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    height: 100vw;
    width: 100vh;
    background-color: var(--glowny);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.container-1{
    height: 10%;
}
.col{
    margin: 20px 0px 0px 0px;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-5{
    display: flex;
    flex-direction: column;
}
.col input{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}
input{
    color: var(--czarny);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--drugi);
    transition: all 350ms;
}
input:invalid{
    border: 3px solid var(--blad);
    box-shadow: 0px 0px 15px var(--blad);
    transition: all 350ms;
}
input[type=submit]{
    cursor:pointer;
    color: black;
    background-color: #3a86ff;
    border: 1px solid #3a86ff;
    box-shadow: 0px 0px 20px #3a86ff;
}
h4{
    margin: 20px 0px;
    font-weight: 600;
}
.przycisk{
    color: black;
    background-color: #3a86ff;
    border: 1px solid #3a86ff;
    box-shadow: 0px 0px 20px #3a86ff;
}
.kolko{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    aspect-ratio: 1/1;
    width: 30px;
    margin: 8px;
    background-color: #ffb703;
    padding: 8px;
    color: #000;
    border-radius: 100%;
}
.container-4{
    display: flex;
    flex-direction: column;
}
.wynik-1{
    color: #3a86ff;
    font-weight: 600;
}