*{
    font-family:Bookman Old Style, Serif;
}
header{
    background-color:DarkCyan;
    color:white;
    width:50%;
    height:100px;
    float:left;
    letter-spacing:15px;
}
footer{
    background-color:DarkCyan;
    color:white;
}
section{
    background-color:Azure;
    width:30%;  
    margin:1%;
    box-shadow:4px 4px 8px Dimgray;
    display:inline-block;
}
section img{
    width:100%;
    border-radius: 0%;
}
section img:hover{
    border-radius: 100%;
}
p,h2,h3{
    margin:15px;
}
a{
    color:white;
}
h5{
    background-color:Teal;
    width:100%;
    text-align:center;
    padding:10px 0px 10px 0px;
}
h5:hover{
    background-color:Lightseagreen;
}
blockquote{
    text-align:center;
    padding:30px 0px 30px 0px;
    font-style:italic;
}
#cytat2, #cytat3{
    display: none;
}
