*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #303841;
    --tlo: #0b253c;
    --drugi: #3A4750;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --niebieski: #0693e3;
    --alfa: #0692e300;
    --zolty: #ffb703;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
main{
    margin: 50px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button, input{ 
    outline: none;
    color: var(--bialy);
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--czerwony);
    border-radius: 5px;
    background-color: var(--alfa);
    transition: all 300ms;
}
button:hover, input:focus{
    color: var(--bialy);
    border: 1px solid var(--czerwony);
    background-color: var(--czerwony);
    transition: all 300ms;
    box-shadow: 0px 0px 15px var(--czerwony);
}
input{
    width: 50px;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
input[type=submit]{ 
    width: 100%;
    outline: none;
    color: var(--bialy);
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--zielony);
    border-radius: 5px;
    background-color: var(--alfa);
    transition: all 300ms;
}
input[type=submit]:hover{
    color: var(--bialy);
    border: 1px solid var(--zielony);
    background-color: var(--zielony);
    transition: all 300ms;
}
.wynik{
    margin: 50px 0px 5px 0px;
    font-size: 22px;
}