*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #f9b17a;
    --tlo: #2d3250;
    --drugi: #424769;
    --trzeci: #578f9d;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --alfa: #0692e300;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
body{
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
main{
    margin: 50px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    padding: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:var(--drugi);
    color: var(--tekst);
    box-shadow: 0px 0px 15px var(--czarny);
    z-index: 9999;
    position:fixed;
    top: 0px;
}
footer{
    background-color: var(--drugi);
    color: var(--bialy);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 95%;
    margin-right: 15px;
}
main{
    margin-top: 100px;
    padding: 25px;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
aside{
    background-color: var(--drugi);
    width: 30%;
    height: 100%;
    padding: 10px;
}
main section{
    background-color: var(--drugi);
    width: 70%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-buttons{
    display: flex;
    flex-direction: column;
}
.menu-buttons a{
    width: 100%;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid var(--bialy);
}
.brak_obrazu{
    max-width: 70%;
}
.produkt{
    width: 20%;
    height: 100%;
    min-height: 80px;
    max-height: 250px;
    border: 1px solid var(--drugi);
    border-radius: 25px;
    background-color: var(--tlo);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login{
    display: flex;
    flex-direction: column;
}
#login input{
    padding: 7px;
    margin: 15px;
}
.menu-buttons{
    display: flex;
}
#login{
    display: none;
}
.button{
    text-decoration: none;
    padding: 5px;
    border: none;
    background-color: var(--glowny);
    color: var(--czarny);
    border-radius: 2px;
    min-width: 40px;
    text-align: center;
    margin: 5px;
}
.input{
    border: 2px solid var(--glowny);
    border-radius: 10px;
    padding: 6px;
    color: var(--bialy);
    outline: none;
    background-color: var(--alfa);
    margin: 10px;
}
input[type=submit]{
    border: 2px solid var(--glowny);
    border-radius: 2px;
    padding: 6px;
    color: var(--czarny);
    outline: none;
    background-color: var(--glowny);
    margin: 10px;
}
::placeholder{
    color: var(--czarny);
}
input:focus{
    background-color: var(--glowny);
    color: var(--czarny);
    outline: none;
}
option{
    color: var(--czarny);
}