*{
    margin: 0;
    --tlo: #edf2f4;
    --tlo2: #d4d8da;
    --tekst: #2b2d42;
    --alfa: #ffffff00;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 25px;
}
header{
    padding: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:var(--tlo);
    color: var(--tekst);
    box-shadow: 0px 0px 15px var(--tekst);
    z-index: 9999;
    position:fixed;
    top: 0px;
}
#logo{
    height: 95%;
    margin-right: 15px;
}
main{
    margin-top: 100px;
    padding: 25px;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
aside{
    background-color: var(--tlo2);
    width: 30%;
    height: 100%;
    padding: 10px;
}
main section{
    visibility: hidden;
    background-color: var(--tlo2);
    width: 70%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-buttons{
    display: flex;
    flex-direction: column;
}
.menu-buttons a{
    width: 100%;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid var(--tekst);
}
footer{
    background-color: var(--tekst);
    color: var(--tlo);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brak_obrazu{
    max-width: 70%;
}
.produkt{
    width: 20%;
    height: 100%;
    min-height: 80px;
    max-height: 250px;
    border: 1px solid var(--tekst);
    border-radius: 25px;
    background-color: var(--tlo);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produkt button{
    border: none;
    background-color: #0086bf;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}
#login{
    display: flex;
    flex-direction: column;
}
#login input{
    padding: 7px;
    margin: 15px;
    
}
.menu-buttons{
    display: flex;
}