*{
    font-family: Helvetica;
}
header, footer{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
    clear: both;
}
.blok_menu{
    background-color: peru;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    float: left;
    width: 80%;
}
.blok_glowny{
    width: 100%;
    height: 700px;
    font-size: 120%;
    overflow-x:auto;
    overflow-y: auto;
    width: 80%;
}
.blok_prawy{
    background-color: peru;
    color:white;
    width: 20%;
    height: 760px;
    float: right;
}
a{
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}
a:hover{
    color: white;
}
img{
    float: left;
    margin: 30px;
}