*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #303841;
    --tlo: #0b253c;
    --drugi: #3A4750;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --niebieski: #0693e3;
    --alfa: #0692e300;
    --zolty: #ffb703;
    color: var(--bialy);
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--tlo);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
main{
    margin: 50px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="submit"]{
    color: var(--bialy);
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--czerwony);
    border-radius: 5px;
    background-color: var(--alfa);
    transition: all 300ms;
}
input[type="submit"]:hover{
    color: var(--bialy);
    border: 1px solid var(--czerwony);
    background-color: var(--czerwony);
    transition: all 300ms;
    box-shadow: 0px 0px 15px var(--czerwony);
}
.col{
    display: flex;
    flex-direction: column;
}
label{
    margin: 2px;
}
h3{
    margin: 30px 0px 10px 0px;
}