header{
  color:white;
  text-align:center;
  height:370px;
}
.info{
  color:white;
  text-align:center;
  width:200px;
  margin:10px;
  border: 1px solid black;
  border-radius:10px;
  float: left;
}
.info:hover
{
  border: 1px solid white;
}
main
{
  background-color:whiteSmoke;
  height:50px;
  clear: both;
}
.left{
  background-color:whiteSmoke;
  height:230px;
  width:70%;
  float:left;
}
.right{
  background-color:whiteSmoke;
  height:230px;
  width:30%;
  text-align:right;
  float:left;
}
body{
  font-family:Tahoma;
  background-color:crimson;
}
h2{
	text-align:center;
	letter-spacing:7px;
	text-transform:capitalize;
}
