*{
    margin: 0;
    --czerwony: #d90429;
    --zielony: #8ac926;
    --glowny: #303841;
    --tlo: #0b253c;
    --drugi: #3A4750;
    --bialy: #EEEEEE;
    --czarny: #212121;
    --niebieski: #0693e3;
    --alfa: #0692e300;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: var(--tlo);
    color: var(--bialy);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
main{
    margin-top: 50px;
    height: 300vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    padding-bottom: 150px;
    max-width: 80%;
    height: 80%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input{
    color: var(--czarny);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--niebieski);
    transition: all 350ms;
}
input:invalid{
    cursor:pointer;
    color: var(--bialy);
    background-color: var(--alfa);
    border: 1px solid var(--alfa);
    box-shadow: 0px 0px 20px var(--czerwony);
    transition: all 350ms;
}
input:invalid:hover{
    cursor:pointer;
    color: var(--czarny);
    background-color: var(--czerwony);
    border: 1px solid var(--czerwony);
    box-shadow: 0px 0px 20px var(--czerwony);
    transition: all 350ms;
}
tbody{ 
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table{
    width: 50%;
}
.pierwszy-wiersz{
    border-bottom: 2px solid white;
}
tr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
td{
    padding: 5px;
    text-align: center;
    width: 100%;
    border-left: 2px solid white;
}
.pierwsza-kolumna{
    border-left: 0px solid white;
}
.tytul{
    margin: 50px 0px;
}
.czerwony-przycisk{
    cursor:pointer;
    text-decoration: none;
    padding: 2px;
    color: var(--czarny);
    background-color: var(--czerwony);
    border-radius: 5px;
    border: 1px solid var(--czerwony);
    transition: all 350ms;
}
.druga-tabela{
    margin: 50px 0px;
}
.przycisk{
    cursor:pointer;
    text-decoration: none;
    padding: 2px;
    color: var(--czarny);
    background-color: var(--niebieski);
    border-radius: 5px;
    border: 1px solid var(--niebieski);
    transition: all 350ms;
    padding: 5px;
}
.error{
    color: var(--czerwony);
}
.success{
    color: var(--zielony);
}